In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
telco= pd.read_csv("Custdetails.csv")

In [4]:
telco.head()

,customer_id,gender,is_female,is_senior_citizen,partner,dependents,phone_service,has_phone,internet_service,has_internet,...,contract_type,payment_type,monthly_charges,total_charges,churn,has_churned,partner_dependents,MONTHS_TENURE,start_of_contract,average_monthly_charges
0,0002-ORFBO,Female,True,0,Yes,Yes,1,True,1,True,...,1,Mailed check,65.6,593.30,No,False,3,9.04,2020-05-02,60
1,0003-MKNFE,Male,False,0,No,No,2,True,1,True,...,0,Mailed check,59.9,542.40,No,False,0,9.06,2020-05-02,30.99889625
2,0004-TLHLJ,Male,False,0,No,No,1,True,2,True,...,0,Electronic check,73.9,280.85,Yes,True,0,3.80,2020-11-02,325.75
3,0011-IGKFF,Male,False,1,Yes,No,1,True,2,True,...,0,Electronic check,98.0,1237.85,Yes,True,1,12.63,2020-02-02,21.17181314
4,0013-EXCHZ,Female,True,1,Yes,No,1,True,2,True,...,0,Mailed check,83.9,267.40,Yes,True,1,3.19,2020-11-02,179.137931

In [11]:
telco= telco.drop(columns=["payment_type",'gender', 'is_senior_citizen', "partner", "dependents","partner_dependents","payment_type","is_female","average_monthly_charges"])